<p>
  <b>Name:</b>
  <%=h @admin.name %>
</p>

<p>
  <b>Hashed password:</b>
  <%=h @admin.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%=h @admin.salt %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>