<div style="margin: 10px auto; width=500px" align="center">
	<img src="http://rsvp.beccaandadamgethitched.com/images/Banner-sm.gif" alt="Becca and Adam are getting hitched!" %>

<div style="padding: 10px;border: solid #c5190b 2px; margin-top: -1px; width: 476px;">

	<p><%= @params[:intro] %></p>
	<p><%= auto_link(@params[:invitees_coming]) %></p>
	
	<p><%= @params[:invitees_coming_rehearsal]  %></p>
	
	<p><%= @params[:babysitter]  %></p>
	
	<p><%= @params[:closing_line] %></p>

	<p><%= @params[:closing] %><br />
	<%= @params[:signature] %></p>

</div>

<img src="http://rsvp.beccaandadamgethitched.com/images/Banner-bottom-sm.gif" alt="" %>
</div>
