<h1>New invitee</h1>

<% form_for(@invitee) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.label :login %><br />
	<%= f.collection_select(:login_id, Login.all, :id, :login_and_password, {:include_blank => "Please select login" }) %>	
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :is_kid %><br />
    <%= f.check_box :is_kid %>
  </p>
  <p>
	<%= f.label :is_primary %><br />
	<%= f.check_box :is_primary %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', invitees_path %>